@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(147, 24, 255, 1) 30%, rgba(255, 0, 224, 1) 68%, rgba(255, 17, 66, 1) 98%);
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 250px;
    height: 80px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
}

.login-button {
    display: flex;
    margin-top: 15px;
    max-height: 45px;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: blueviolet;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 10px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .navbar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }

    .logo img {
        width: 180px;
        height: 60px;
        transition: 1s;
    }
}

.login-button button:active {
    background-color: rgb(166, 94, 233);
}

.signup-form,
.login-form {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .2);
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}

.form {
    width: 500px;
    padding: 20px 50px;
}

.form .close {
    text-align: right;
    cursor: pointer;
}

.form .text h1 {
    text-align: center;
    margin: 30px;
}

.text {
    color: #fff;
}

.form form {
    display: block;
    margin: auto;
}

.form .row {
    display: flex;
    justify-content: space-between;
}

.form .row input {
    margin-bottom: 0;
}

.form .row input:first-child {
    margin-right: 10px;
}

.form .row input:last-child {
    margin-left: 10px;
}

.form form input {
    width: 100%;
    display: block;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px 16px;
    margin: 20px auto;
    outline: none;
}

.signup-form.active,
.login-form.active {
    top: 50%;
    transition: .5s;
    visibility: visible;
    opacity: 1;
}

.container.active {
    filter: blur(20px);
    transition: .5s;
    pointer-events: none;
}

.submit {
    background-color: blueviolet;
    max-width: 150px;
    height: auto;
}

.submit:active {
    background-color: rgb(166, 94, 233);
}

.input {
    max-width: 465px;
    height: auto;
}